<a id="commit-link" href="./" target="_blank">
  <div>
    <div>
      <p id="short-hash"></p>
      <p id="commit-latest">
        <br />
        Loading...
      </p>
    </div>
  </div>
</a>
<script src="/src/scripts/github.ts"></script>
<style>
  /* Commit Link Styles */
  #commit-link {
    font-size: 12px;
    text-decoration: none;
  }

  #commit-link > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #commit-link > div > div {
    border: 3px dashed var(--van-dyke);
    font-size: 12px;
    color: var(--navy-blue);
    background-color: var(--night);
    transition: background-color 1s;
  }

  #commit-link > div > div:hover {
    border: 3px dashed var(--navy-blue);
  }

  #commit-latest {
    font-size: 1rem;
  }

  #short-hash {
    font-size: 24px;
    color: var(--van-dyke);
    background-color: var(--tan);
  }
</style>
