<div id="songBox">
  <h2 id="lastfm-status">Loading...</h2>
  <img
    id="trackCover"
    decoding="async"
    loading="eager"
    src="{loading}"
    alt=""
    height="150"
    width="150"
  />
  <div class="trackInfo" id="trackInfo">
    <h2 class="trackName" id="trackName">Loading...</h2>
    <p class="artistName" id="artistName">Loading...</p>
    <p class="siteName" id="siteName"></p>
  </div>
</div>
<script src="/src/scripts/LastFM.ts"></script>
