---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
---

<Base
  title="I still fucking hate nuejs"
  description="Moving to astro now"
  image=""
>
  <Header />
  <h1>Migrating to Astro</h1>
  <h2 style="text-align: center;">Under Construction</h2>
</Base>
