---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import AboutGrid from "@components/about/AboutGrid.astro";
---

<Base title="About" description="About - Index" image="">
  <Header />
  <main>
    <article>
      <section style="border: none;">
        <AboutGrid
          title="Index"
          subtitle="About"
          images={[
            {
              src: "/images/about/1451227473225.jpg",
              alt: "Anime",
              href: "/about/anime",
            },
            {
              src: "/images/about/FESu8xuVkAQoySP.jpg",
              alt: "Manga",
              href: "/about/manga",
            },
            {
              src: "/images/about/p-model_poster.jpg",
              alt: "Music",
              href: "/about/music",
            },
            {
              src: "/images/about/106510771_p0_master1200.jpg",
              alt: "IRL People",
              href: "/about/people",
            },
            {
              src: "/images/about/bunny.png",
              alt: "Games",
              href: "/about/games",
            },
            {
              src: "/images/about/Hakunonposedithered.png",
              alt: "Characters",
              href: "/about/characters",
            },
            {
              src: "/images/about/TechniqueofLelief.png",
              alt: "Me",
              href: "/about/me",
            },
            {
              src: "/images/about/NSFW/img028.png",
              alt: "NSFW",
              href: "/about/NSFW",
            },
          ]}
        />
      </section>
    </article>
  </main>
</Base>
