---
import Base from "@layouts/Base.astro";
import Header from "@components/Header.astro";
import Sidebar from "@components/main/Sidebar.astro";
import Footer from "@components/main/Footer.astro";
import Socials from "@components/main/Socials.astro";

import { Image } from "astro:assets";

import me from "@assets/images/main/lel.png";
---

<Base title="Hello My Leltards" description="Moving to astro now" image="">
  <Header />
  <main>
    <Sidebar />
    <article>
      <section>
        <h1>Hello My Leltards</h1>
        <p>Under Construction</p>
        <figure>
          <Image
            src={me}
            alt="Me IRL"
            width="500"
            height="500"
            loading="eager"
          />
          <figcaption>Me IRL</figcaption>
        </figure>
        <p>
          I made this layout on NueJs before, but it kinda sucked, so I decided
          to make it in Astro. I will be adding more content soon.
        </p>
        <Socials />
      </section>
    </article>
  </main>
  <Footer />

  <style>
    /* Aside Styles */
    main {
      display: grid;
      gap: 0px 0px;
      grid-template-rows: 1fr;
      grid-template-columns: 0.5fr 1.5fr;
      grid-template-areas:
        "aside article"
        "aside article"
        "aside article";
      grid-auto-flow: row;
    }

    aside {
      grid-area: aside;
    }

    article {
      grid-area: article;
    }
    marquee img {
      border-radius: 0;
      image-rendering: pixelated;
    }
  </style>
</Base>
