:root {
  /* special colors */
  --marker: #ffff7a;

  /* new */
  --night: #121112;
  --raisin-black: #252526;
  --van-dyke: #49372b;
  --russet: #7e4827;
  --tan: #ccb28d;
  --navy-blue: #779ecb;

  --red-100: #ffbaa2;
  --red-200: #f5917b;
  --red-300: #c86a56;
  --red-400: #9d4534;
  --red-500: #722014;

  --gray-100: #f5f7f7;
  --gray-200: #e9f0f1;
  --gray-300: #ece8ea;
  --gray-400: #f1e5e9;
  --gray-500: #e0d6da;
}
