:root {
  /* special colors */
  --marker: oklch(97% 0.15 108.96deg / 100%);

  /* new */
  --night: oklch(17% 0.00263 325.348deg);
  --raisin-black: oklch(26% 0 286.27deg / 100%);
  --van-dyke: oklch(35% 0.03 55.1deg / 100%);
  --russet: oklch(45% 0.08733 50.513deg);
  --tan: oklch(77% 0.0582 76.404deg);
  --navy-blue: oklch(69% 0.08 252.49deg / 100%);

  /* red scale */
  --red-100: oklch(85% 0.09 40deg / 100%);
  --red-200: oklch(76% 0.13 33.29deg / 100%);
  --red-300: oklch(63% 0.12 33.17deg / 100%);
  --red-400: oklch(50% 0.12 32.6deg / 100%);
  --red-500: oklch(37% 0.12 31.27deg / 100%);

  /* gray scale (light) */
  --gray-100: oklch(97% 0 197.12deg / 100%);
  --gray-200: oklch(95% 0.01 207.14deg / 100%);
  --gray-300: oklch(93% 0.01 345.29deg / 100%);
  --gray-400: oklch(93% 0.01 355.02deg / 100%);
  --gray-500: oklch(89% 0.01 351.01deg / 100%);

  /* gray scale (dark) */
  --gray-600: oklch(79% 0.01 345.49deg / 100%);
  --gray-700: oklch(69% 0.01 330.22deg / 100%);
  --gray-800: oklch(57% 0.01 335.64deg / 100%);
  --gray-900: oklch(45% 0.01 337.71deg / 100%);

  /* blue scale */
  --blue-100: oklch(91% 0.03 246.81deg / 100%);
  --blue-200: oklch(82% 0.06 248.53deg / 100%);
  --blue-300: oklch(69% 0.08 252.49deg / 100%);
  --blue-400: oklch(57% 0.1 253.81deg / 100%);
  --blue-500: oklch(47% 0.1 254.69deg / 100%);

  /* green scale */
  --green-100: oklch(94% 0.04 160.91deg / 100%);
  --green-200: oklch(88% 0.08 163.69deg / 100%);
  --green-300: oklch(78% 0.11 164.07deg / 100%);
  --green-400: oklch(68% 0.12 164.39deg / 100%);
  --green-500: oklch(53% 0.09 165.83deg / 100%);

  /* yellow scale (matching marker) */
  --yellow-100: oklch(99% 0.06 106.45deg / 100%);
  --yellow-200: oklch(97% 0.11 106.02deg / 100%);
  --yellow-300: oklch(97% 0.1547 108.976deg);
  --yellow-400: oklch(90% 0.16 101.72deg / 100%);
  --yellow-500: oklch(81% 0.15 100.17deg / 100%);
}
