:root {
  /* special colors */
  --marker: #ffff7a;

  /* new */
  --night: #121112;
  --raisin-black: #252526;
  --van-dyke: #49372b;
  --russet: #7e4827;
  --tan: #ccb28d;
  --navy-blue: #779ecb;

  /* red scale */
  --red-100: #ffbaa2;
  --red-200: #f5917b;
  --red-300: #c86a56;
  --red-400: #9d4534;
  --red-500: #722014;

  /* gray scale (light) */
  --gray-100: #f5f7f7;
  --gray-200: #e9f0f1;
  --gray-300: #ece8ea;
  --gray-400: #f1e5e9;
  --gray-500: #e0d6da;

  /* gray scale (dark) */
  --gray-600: #c0b8bc;
  --gray-700: #a19aa0;
  --gray-800: #7d767b;
  --gray-900: #5a5458;

  /* blue scale */
  --blue-100: #d0e4f7;
  --blue-200: #a7c7e7;
  --blue-300: #779ecb;
  --blue-400: #4d7ab0;
  --blue-500: #2e5b92;

  /* green scale */
  --green-100: #d5f5e3;
  --green-200: #a9eacb;
  --green-300: #6fcca4;
  --green-400: #43ad84;
  --green-500: #2b7c5f;

  /* yellow scale (matching marker) */
  --yellow-100: #fffecf;
  --yellow-200: #fffba3;
  --yellow-300: #ffff7a;
  --yellow-400: #f5e252;
  --yellow-500: #d6c139;
}
