@layer typography, base;

@import url("./colors.css");
@import url("./fonts.css");
@import url("./typography.css");

@layer base {
  :root {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    background-color: var(--night);
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2% 5%;
  }

  article > section {
    border-top: 1px var(--tan) solid;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 50px;
  }

  blockquote {
    border-left: 5px solid var(--tan);
    text-wrap: balance;
    margin: 2.5em 0;
    padding-left: 1.5em;
    p {
      color: var(--tan);
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
  figure {
    margin: 2.5em auto;
    text-align: center;

    figcaption {
      color: var(--gray-200);
      font-size: 1.5rem;
      margin-top: 0.5em;
    }
    &:has(a) {
      transition: 100ms;
      &:hover {
        scale: 1.1;
      }
    }
  }
  img {
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    filter: drop-shadow(0 0 10px var(--night))
      drop-shadow(0 0px 40px var(--van-dyke));
  }
  ::marker {
    font-size: 1.5rem;
    color: var(--tan);
  }

  li:not(.gallery li) {
    text-wrap: balance;
    margin-bottom: 0.5rem;
    list-style: hebrew;
  }
  li p {
    margin: 0;
  }
  summary {
    font-size: 2rem;
    font-weight: 700;
  }

  /* Table */
  table {
    border-collapse: collapse;
    width: 95%;
    margin: 2rem auto;
  }

  tr {
    color: var(--gray-200);
    background-color: var(--raisin-black);
  }

  th {
    border-top: solid 1px;
    border-bottom: solid 1px;
  }

  td {
    padding: 10px;
    border: none;
  }

  tr:nth-child(even),
  th {
    background-color: var(--night);
  }
}

