@layer typography, base;

@import url("./colors.css");
@import url("./fonts.css");

@layer base {
  :root {
    color-scheme: dark;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    background-color: var(--night);
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2% 5%;
  }

  article > section {
    border-top: 1px var(--tan) solid;
    max-width: 70vw;
    margin: 0 auto;
    padding: 0 50px;
  }

  blockquote {
    border-left: 5px solid var(--tan);
    text-wrap: balance;
    margin: 2.5em 0;
    padding-left: 1.5em;
    p {
      color: var(--tan);
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }
  figure {
    margin: 2.5em auto;
    text-align: center;
    img {
      max-width: 50%;
    }
    figcaption {
      color: var(--ash-gray);
      font-size: 1.5rem;
      margin-top: 0.5em;
    }
  }
  img {
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    filter: drop-shadow(0 0 10px var(--night))
      drop-shadow(0 0px 40px var(--van-dyke));
  }
  ::marker {
    color: var(--tan);
  }

  li:not(.gallery li) {
    text-wrap: balance;
    margin-bottom: 0.5rem;
    list-style: hebrew;
  }
  li p {
    margin: 0;
  }
  summary {
    font-size: 2rem;
    font-weight: 700;
  }

  /* Table */
  table {
    border-collapse: collapse;
    width: 95%;
    margin: 2rem auto;
  }

  tr {
    color: var(--ash-gray);
    background-color: var(--raisin-black);
  }

  th {
    border-top: solid 1px;
    border-bottom: solid 1px;
  }

  td {
    padding: 10px;
    border: none;
  }

  tr:nth-child(even),
  th {
    background-color: var(--night);
  }
}

@layer typography {
  body {
    font-family: "Computer Says No", "Iosevka Etoile", -apple-system,
      BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto, sans-serif;
  }

  /* heading and subtitle */
  h1 {
    letter-spacing: -0.03em;
    font-size: 2.6rem;
    color: var(--lavender-blush);
    padding: 20px 0 0;

    &,
    + p {
      text-align: center;
      text-wrap: balance;
      max-width: 40rem;
      margin: 0 auto 0.2em;
    }

    + p {
      font-size: 2.25em;
      font-weight: 300;
      margin-bottom: 2em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Mica Valo", sans-serif;
  }

  /* links */
  a {
    text-decoration: none;

    /* navigational links */
    nav & {
      font-family: Lemon Milk, sans-serif;
      font-weight: 500;
      color: var(--lavender-blush);
      text-shadow: 1px 1px var(--raisin-black);

      &[aria-current] {
        text-decoration: 2px underline var(--tan);
        text-underline-offset: 8px;
      }
    }
  }

  /* bulk content */
  p,
  li,
  li a {
    color: var(--ash-gray);
    line-height: 0.95;
    font-size: 2rem;

    strong {
      color: var(--marker);
    }
  }

  table {
    font-size: 1.5rem;
  }
}
