@layer typography {
  body {
    font-family:
      "Computer Says No",
      "Iosevka Etoile",
      -apple-system,
      BlinkMacSystemFont,
      "Avenir Next",
      "Segoe UI",
      Roboto,
      sans-serif;

    /* font-family: "Iosevka Etoile", -apple-system, BlinkMacSystemFont,
      Avenir Next, Segoe UI, Roboto, sans-serif; */
  }

  /* bulk content */
  p,
  li {
    font-size: 1.5rem;
    font-size-adjust: 0.48;
    line-height: 1.75;
    color: var(--gray-200);

    strong {
      color: var(--marker);
    }
  }

  table {
    font-size: 1.5rem;
  }

  /* heading and subtitle */
  h1 {
    padding: 20px 0 0;
    font-size: 2.6rem;
    color: var(--gray-400);
    letter-spacing: -0.03em;

    &,
    + p {
      max-width: 40rem;
      margin: 0 auto 0.2em;
      text-align: center;
      text-wrap: balance;
    }

    + p {
      margin-bottom: 2em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Mica Valo", sans-serif;
  }

  /* links */
  a {
    &:where(:hover, :focus-visible) {
      background-position-x: left;
      background-size: 100% var(--bg-h);
    }

    &:not([role="button"]) {
      --bg-h: 2px;

      padding-bottom: 1px;
      color: var(--green-300);
      text-decoration: none;
      text-underline-offset: 0.15em;
      background: linear-gradient(0deg, var(--tan), var(--tan)) no-repeat right
        bottom / 0 var(--bg-h);
      transition: background-size 350ms;

      &:visited {
        color: var(--green-200);
      }

      a[href^="http"]::after {
        content: url("data:image/svg+xml;utf8,<svg ...>");
        margin-left: 0.25em;
      }

      &:focus-visible {
        outline: var(--tan) 1px solid;
        outline-offset: 5px;
      }
    }
  }
}
