#comments-root {
  /* max-width: 60%; */
  margin: 0 auto;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--gray-200);
}

button, input[type="submit"], .c-submitButton {
  padding: 6px 16px;
  border: 1px dashed var(--tan);
  border-radius: 6px;
  background: transparent;
  color: var(--tan);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

button:hover, .c-submitButton:hover {
  background-color: var(--russet);
  color: white;
}

button:disabled {
  opacity: 0.6;
  cursor: default;
}

#c_inputDiv {
  padding: 10px;
  border: 1px dashed var(--tan);
  border-radius: 5px;
  background-color: var(--raisin-black);
}

#c_widgetTitle {
  margin: 0;
  color: var(--tan);
  text-decoration: underline wavy;
}

.c-inputWrapper {
  margin: 5px 0;
}

.c-input {
  width: 80%;
  padding: 4px;
  border: 1px solid var(--tan);
  border-radius: 4px;
  background-color: #1e2326;
  color: #d3c6aa;
}

.c-input:focus {
  border-color: var(--russet);
  outline: none;
}

.c-comment, .c-reply {
  margin: 10px 0;
  padding: 10px;
  border: 1px dashed var(--tan);
  border-radius: 4px;
  list-style: none;
}

.c-name {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}

.c-site {
  color: var(--tan);
}

.c-site:hover {
  color: #211f24;
}

.c-timestamp {
  float: right;
  opacity: 0.6;
  color: #d3c6aa;
}

.c-text {
  margin-top: 10px;
  text-align: justify;
  color: #d3c6aa;
}

.c-replyButton {
  margin-top: 10px;
}
