#comments-root {
  box-sizing: border-box;

  /* max-width: 60%; */
  margin: 0 auto;
  padding: 15px;

  font-size: 14px;
  color: var(--gray-200);
}

button,
input[type="submit"],
.c-submitButton {
  cursor: pointer;

  padding: 6px 16px;
  border: 1px dashed var(--tan);
  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;
  color: var(--tan);

  background: transparent;
}

button:hover,
.c-submitButton:hover {
  color: white;
  background-color: var(--russet);
}

button:disabled {
  cursor: default;
  opacity: 0.6;
}

#c_inputDiv {
  padding: 10px;
  border: 1px dashed var(--tan);
  border-radius: 5px;
  background-color: var(--raisin-black);
}

#c_widgetTitle {
  margin: 0;
  color: var(--tan);
  text-decoration: underline wavy;
}

.c-inputWrapper {
  margin: 5px 0;
}

.c-input {
  width: 80%;
  padding: 4px;
  border: 1px solid var(--tan);
  border-radius: 4px;

  color: #d3c6aa;

  background-color: #1e2326;
}

.c-input:focus {
  border-color: var(--russet);
  outline: none;
}

.c-comment,
.c-reply {
  margin: 10px 0;
  padding: 10px;
  border: 1px dashed var(--tan);
  border-radius: 4px;

  list-style: none;
}

.c-name {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}

.c-site {
  color: var(--tan);
}

.c-site:hover {
  color: #211f24;
}

.c-timestamp {
  float: right;
  color: #d3c6aa;
  opacity: 0.6;
}

.c-text {
  margin-top: 10px;
  color: #d3c6aa;
  text-align: justify;
}

.c-replyButton {
  margin-top: 10px;
}
