---
import NekoStats from "./Sidebar/NekoStats.astro";
import LastFM from "./Sidebar/LastFM.astro";
import CommitLink from "./Sidebar/CommitLink.astro";
---

<aside>
  <NekoStats />
  <div class="container">
    <LastFM />
  </div>

  <div class="container">
    <CommitLink />
  </div>

  <!-- <div class="container">
    <iframe
      title="NekoLink"
      width="200"
      height="200"
      style="height: 200px; border: none"
      src="https://rubybulbs.net/neko.html"
      loading="lazy"></iframe>
  </div> -->
  <!-- <a href="https://pure.nekoweb.org/">
    <image src="palestineko" alt="Palestine Neko" loading="eager" />
  </a>
  <image src="palestinetoria" alt="Palestine Castoria" loading="eager" /> -->
</aside>

<style>
  .container {
    display: flex;
    justify-content: space-around;

    width: 100%;
    max-width: 200px;
    margin: 10px auto;

    text-align: center;
  }
</style>
