---
import FigureImage from "@components/FigureImage.astro";
---

<div id="socials">
  <h2>Socials</h2>
  <div id="grid">
    <FigureImage
      src="/src/assets/images/main/gijinka/github.jpg"
      alt="Github"
      href="https://github.com/LelIllumina/Astro-Migration/"
      width={168}
      height={168}
    />
    <FigureImage
      src="/src/assets/images/main/gijinka/discord.jpg"
      alt="Discord"
      href="https://discord.com/channels/@me/1331059585896677378"
      width={168}
      height={168}
    />
    <FigureImage
      src="/src/assets/images/main/gijinka/twitter.png"
      alt="Twitter"
      href="https://twitter.com/Lel_illumina"
      width={168}
      height={168}
    />
  </div>
</div>

<style>
  #socials {
    padding: 50px;
    text-align: center;
  }

  #grid {
    display: inline-flex;
    gap: 20px;

    img {
      width: 150px;
      max-width: 150px;
      height: 150px;
      border-radius: 10px;

      object-fit: cover;
      object-position: top left;
    }
  }
</style>
