---
import Header from "@components/Header.astro";
import Base from "@layouts/Base.astro";
import FanButt from "@components/FanButt.astro";

// import image from "@assets/images/background.jpg";
// import { getImage } from "astro:assets";
// const ogImage = await getImage({
//   src: image,
//   format: "avif",
//   width: 1200,
//   height: 630,
// });
---

<Base
  title="Lel@Nekoweb"
  description="All Nekos are mine."
  keywords={["Nekoweb", "Lel", "Blog", "Personal"]}
  image="/images/background.jpg"
>
  <Header />
  <main>
    <article>
      <section>
        <h1 title="Lel@NekoWEB" id="Lel-nekoweb">Lel@NekoWEB</h1>
        <FanButt href="/main/"> &GreaterGreater;w&LessLess; </FanButt>
      </section>
    </article>
  </main>
</Base>

<style>
  body {
    overflow-x: hidden;

    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 2% 5%;

    background: var(--night) center/cover no-repeat
      url("/src/assets/images/background.jpg");
  }

  section {
    margin: 150px auto;
    border: none;
  }

  h1 {
    margin: 2rem auto;

    font-family: var(--font-title);
    font-size: 10rem;
    font-feature-settings:
      "liga" 1,
      "clig" 1,
      "dlig" 1,
      "ss01" 1,
      "ss02" 1;
    color: var(--blue-300);
    text-shadow: 2px 2px plum;

    mix-blend-mode: color-dodge;
  }

  h2 {
    font-family: var(--font-serif);
    text-align: center;
  }
</style>
