---
const { href } = Astro.props;
---

<a role="button" href={href}><slot /></a>

<style>
  /* a {
    display: block;
    width: fit-content;

    margin: 25vh auto 0 auto;
    padding: 1em 1.5em;

    background: var(--red-500);

    text-align: center;

    font-size: 2.5rem;
    line-height: 0.5;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
    mix-blend-mode: hard-light;
  }
  a:hover {
    background: var(--navy-blue);
  } */

  /* CSS */
  a {
    display: block;
    align-content: center;

    width: fit-content;
    height: 6rem;
    margin: 8rem auto 0 auto;
    padding: 0 32px;
    border: 0;
    border-radius: 10% / 100%;

    font-family: "Amplitude";
    font-size: 2rem;
    font-size-adjust: 0.48;
    line-height: 1.75;
    color: var(--gray-300);
    text-align: center;
    text-decoration: none;

    background-image: radial-gradient(
      100% 100% at 100% 0,
      var(--red-400) 0%,
      var(--red-500) 100%
    );
    box-shadow:
      rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    mix-blend-mode: hard-light;

    transition:
      box-shadow 0.15s,
      transform 0.15s;
  }

  a:focus {
    box-shadow:
      var(--red-400) 0 0 0 1.5px inset,
      rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      var(--red-400) 0 -3px 0 inset;
  }

  a:hover {
    transform: translateY(-2px);
    box-shadow:
      rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      var(--red-400) 0 -3px 0 inset;
  }

  a:active {
    transform: translateY(2px);
    box-shadow: var(--red-400) 0 3px 7px inset;
  }
</style>
