---
const { href, alt, ...imgProps } = Astro.props;
---

<figure>
  {
    href ? (
      <a href={href}>
        <img {alt} {...imgProps} />
      </a>
    ) : (
      <img {alt} {...imgProps} />
    )
  }
  <figcaption>{imgProps.alt}</figcaption>
</figure>
