<header>
    <nav>
        <a href="/">Main</a>
        <a href="/about">About</a>
        <a href="/blogs">Blogs</a>
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        a {
            padding: 1em 0;

            color: var(--lavender-blush);
            text-shadow: 1px 1px var(--raisin-black);
        }
    }
</style>
