<header>
  <nav>
    <a href="/">Main</a>
    <a href="/about">About</a>
    <a href="/blogs">Blogs</a>
    <a href="https://lel.atabook.org">Guestbook</a>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    a {
      padding: 1em 0;

      color: var(--gray-400);
      text-shadow: 1px 1px var(--raisin-black);
    }
  }
</style>
