---
const currentUrl = Astro.url.pathname;
---

<header>
  <nav>
    <a href="/" aria-current={currentUrl === "/" ? "page" : undefined}>Main</a>
    <a
      href="/about/"
      aria-current={currentUrl === "/about/" ? "page" : undefined}>About</a
    >
    <a
      href="/music/"
      aria-current={currentUrl === "/music/" ? "page" : undefined}>Music</a
    >
    <a
      href="/blogs/"
      aria-current={currentUrl === "/blogs/" ? "page" : undefined}>Blogs</a
    >
    <a
      href="/guides/"
      aria-current={currentUrl === "/guides/" ? "page" : undefined}>Guides</a
    >
    <a
      href="/eroWeb/"
      aria-current={currentUrl === "/eroWeb/" ? "page" : undefined}>eroWeb</a
    >
    <a href="https://lel.atabook.org">Guestbook</a>
  </nav>
  <div id="navbar-handle">⌄</div>
</header>

<style>
  #navbar-handle {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #ccc;
    opacity: 0.7;
    transition: 0.5s;
  }

  #navbar-handle:hover {
    cursor: pointer;
    opacity: 1;
  }

  nav {
    transform: translateY(-100px);
    display: flex;
    justify-content: space-between;
    margin: 15px auto auto;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;

    a {
      display: inline-block;
      padding: 1em 0;
      padding-bottom: 1px;
      font-family: "Lemon Milk", sans-serif;
      font-weight: 500;
      color: var(--gray-100);
      text-decoration: none;
      text-shadow: 1px 1px var(--raisin-black);

      &[aria-current] {
        color: var(--purple-400);
      }
    }
  }

  header {
    position: fixed;
    top: 10px;
    width: 90vw;
  }

  header:hover {
    nav {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0s;
    }

    #navbar-handle {
      transform: translateX(-50%) translateY(75px);
    }
  }

  header:not(:hover) {
    nav,
    #navbar-handle {
      transition-delay: 0.2s;
    }
  }
</style>
