---
import Base from "@layouts/Base.astro";

import { Image } from "astro:assets";

import hand from "@assets/images/etc/hand.gif";
---

<Base title="Making this page" description="This might be a 404 Page" image="">
  <div id="text">
    <h1>Under Construction</h1>
    <h2 style="text-align: center;">Come back later when i've made this</h2>
    <p><a href="/">Back to main page</a></p>
  </div>
  <Image draggable="false" src={hand} alt="Giant Woman" id="giant-woman" />
</Base>

<style>
  #text {
    float: left;
    padding: 23vh 8vw;
    text-align: center;

    a {
      margin: 7.5vh auto;
      padding: 0.75em 1.5em;
      border-radius: 10px;

      color: var(--gray-400);

      background: var(--red-500);
      mix-blend-mode: hard-light;

      transition: all 100ms ease-in-out;
    }

    a:hover {
      background: var(--navy-blue);
    }
  }

  #giant-woman {
    pointer-events: none;

    position: absolute;
    right: 0;
    bottom: 0;

    width: auto;
    height: 100vh;
    margin: 0;

    object-fit: contain;
    object-position: bottom;

    image-rendering: pixelated;
  }
</style>
